.c-blue {
  color: rgb(68, 86, 251);
  cursor: pointer;
}

.c-black {
  color: black;
}

.bc-blue {
  background-color: rgb(68, 86, 251);
}

.bc-white {
  background-color: white;
}

.c-white {
  color: white;
}

.c-blue:hover {
  text-decoration: none;
  color: rgb(26, 45, 224);
}

.bc-l-grey {
  background-color: rgb(239, 242, 248);
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}