@media (max-width: 900px) {

  header {
    padding: 160px 40px 70px;
  }

  .social_networks {
    width: calc(100% - 50px);
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 60px;
    text-align: center;
  }

  header h4 {
    text-align: center;
  }

  header p {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .menu {
    position: fixed;
    margin-top: 50px;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    padding-top: 100px;
    transition: 0.5s;
    overflow: hidden;
    top: -120vh;
  }

  .menu a {
    font-size: 30px;
  }

  .nav-links {
    color: white;
  }

  .menu-active {
    background-color: rgb(68, 86, 251);
    left: 0;
    transition: 0.5s;
    top: 14px;
  }

  nav ul li:hover {
    background-color: white;
  }

  nav ul li:hover .nav-links{
    color: rgb(68, 86, 251);
  }

  .social_networks p {
    width: 100%;
    text-align: center;
  }

  .social_networks_links {
    margin: auto;
    width: fit-content;
  }
}

@media (max-width: 380px) {
  header h1 {
    font-size: 45px;
  }
}

@media (max-width: 280px) {
  .social_networks_links {
    margin-left: 15px;
  }
}