body {
  padding: 0;
  margin: 60px 0 0;
  font-family: 'Raleway', sans-serif !important;
}

body p {
  font-size: 19px;
}

.main-nav a {
  font-size: 20px;
}

.main-nav {
  padding: 10px 50px;
  z-index: 100;
}

nav i {
  font-size: 36px;
}

nav p {
 padding: 8px 10px ;
}

nav ul {
  margin: 0;
  padding-top: 5px;
}

nav ul li {
  display: inline;
  padding: 5px 10px;
}

nav ul li:hover {
  background-color: rgb(68, 86, 251);
  border-radius: 40px;
  color: white;
}

header {
  background: radial-gradient(circle at top right, rgba(174, 91, 190, 0.6) 10%, rgba(174, 91, 210, 0.7) 20%,  rgba(68, 86, 251, 0.7) 50%, rgba(68, 86, 230, 0.8) 80%);
  border-bottom-left-radius: 80px;
  color: white;
  padding: 160px 150px 70px;
  margin-bottom: 90px;
  overflow: hidden;
}

header img {
  top: -13px;
  left: 0;
  z-index: -10;
  height: 200%;
  width: 140%;
  transform: rotate(180deg);
}

header h1 {
  font-size: 70px;
  line-height: 60px;
}

header p {
  width: 550px;
}

.social-networks {
  border-radius: 25px;
  padding: 10px 30px;
  width: 600px;
}

.social-networks p {
  width: fit-content;
}

.social-networks-links a {
  font-size: 23px;
}

.about-me .aptitudes {
  padding: 20px 30px;
}

.about-me .aptitudes ul {
  padding-left: 20px;
}

.about-me i {
  font-size: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  padding: 15px;
}

.about-me .about-me-text {
  padding: 150px 30px;
}

.fa-hashtag {
  background-color: rgb(34, 176, 125, 0.3);
  color: rgb(34, 176, 125);
}

.fa-crop-alt {
  background-color: rgb(253, 176, 189, 0.3);
  color: rgb(253, 176, 189);
}

.about-me .fa-lightbulb {
  padding: 15px 20px;
  background-color: rgb(241, 157, 42, 0.3);
  color: rgb(241, 157, 42);
}

body .get-in-contact {
  background: radial-gradient(circle at bottom right, rgba(174, 91, 190, 1) 10%, rgba(174, 91, 210, 1) 20%,  rgba(68, 86, 251, 1) 50%, rgba(68, 86, 230, 1) 80%);
  max-width: 100%;
  border-top-left-radius: 80px;
  padding: 80px 140px;
  margin-top: 100px;
}

.get-in-contact textarea {
  resize: none;
  overflow: auto;
  height: 150px;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.get-in-contact textarea::placeholder,
.get-in-contact input::placeholder {
  color: black;
}

.name,
.email {
  background-color: transparent;
  border: none;
  border-bottom: white 2px solid;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.contact-text {
  margin-top: 80px;
}